/*PAGINATION - NAV - perpage*/
.pagination-nav__perpage {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pagination-nav__perpage p {
    color: #000;
    text-align: right;
    line-height: 21px;
    padding: 0 12px 0 0;
    margin: 0;
}

.list {
    box-sizing: border-box;
    width: 120px;
    border-radius: 4px;
    border: 1px solid #CED4DA;
    background: #FFF;

    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: var(--secondary-color, #6C757D);
    line-height: 21px;
    padding: 9px 0 8px 15px;
}

.list option {
    color: var(--secondary-color, #6C757D);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
}

.pages-bar li.active {
    border: 1px solid var(--cyan-800, #055160);
    background: var(--cyan-800, #055160);

    color: var(--gray-white, #FFF);
    line-height: 16px;
}
